/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/venv/
# rspec failure tracking
.rspec_status

*.txt
*.json
*.pem
tracking-sheet.md

Gemfile.lock
.DS_Store

coverage/
src/config
